elevation: {{ elevation }}
latitude: {{ latitude }}
longitude: {{ longitude }}
mqttpassword: {{ mqttpassword }}
stream_img: {{ stream_img }}
stream_url: {{ stream_url }}
stream_img2: {{ stream_img2 }}
stream_url2: {{ stream_url2 }}