{% for d in doorsensor %}
  - platform: mqtt
    name: "{{ d.name }}"
    state_topic: "stat/{{ d.name }}/BATT"
    icon: mdi:battery
    unique_id: '{{ d.name }}_battery'
    device:
      identifiers:
        - '{{ d.name }}'
      name: "{{ d.name }}"
      manufacturer: Tasmota

{% endfor %}
{% for t in temp %}
  - platform: mqtt
    name: "{{ t.name }} Temp"
    state_topic: "tele/{{ t.name }}/SENSOR"
    unit_of_measurement: '°C'
    value_template: "{{ '{{' }} value_json.AM2301.Temperature {{ '}}' }}"

{% endfor %}
{% for h in humidity %}
  - platform: mqtt
    name: "{{ h.name }} Humidity"
    state_topic: "tele/{{ h.name }}/SENSOR"
    unit_of_measurement: '%'
    value_template: "{{ '{{' }} value_json.AM2301.Humidity {{ '}}' }}"

{% endfor %}
{% for w in watts %}
  - platform: mqtt
    name: "{{ w.name }} Watts"
    state_topic: "tele/{{ w.name }}/SENSOR"
    value_template: '{{ '{{' }} value_json["ENERGY"]["Power"] {{ '}}' }}'
    unit_of_measurement: "W"

{% endfor %}
{% for m in meters %}
  - platform: mqtt
    name: "{{ m.name }} Energy Total"
    state_topic: "tele/{{ m.name }}/SENSOR"
    value_template: '{{ '{{' }} value_json["{{ m.name }}"]["1_8_0"] {{ '}}' }}'
    unit_of_measurement: "kWh"
    device_class: energy
    state_class: total_increasing

{% endfor %}
{% for m in meters %}
  - platform: mqtt
    name: "{{ m.name }} Energy Total T1"
    state_topic: "tele/{{ m.name }}/SENSOR"
    value_template: '{{ '{{' }} value_json["{{ m.name }}"]["1_8_1"] {{ '}}' }}'
    unit_of_measurement: "kWh"
    device_class: energy
    state_class: total_increasing

{% endfor %}
{% for m in meters %}
  - platform: mqtt
    name: "{{ m.name }} Energy Total T2"
    state_topic: "tele/{{ m.name }}/SENSOR"
    value_template: '{{ '{{' }} value_json["{{ m.name }}"]["1_8_2"] {{ '}}' }}'
    unit_of_measurement: "kWh"
    device_class: energy
    state_class: total_increasing

{% endfor %}
{% for m in meters %}
  - platform: mqtt
    name: "{{ m.name }} Energy Export"
    state_topic: "tele/{{ m.name }}/SENSOR"
    value_template: '{{ '{{' }} value_json["{{ m.name }}"]["2_8_0"] {{ '}}' }}'
    unit_of_measurement: "kWh"
    device_class: energy
    state_class: total_increasing

{% endfor %}
{% for m in meters %}
  - platform: mqtt
    name: "{{ m.name }} Power Total"
    state_topic: "tele/{{ m.name }}/SENSOR"
    value_template: '{{ '{{' }} value_json["{{ m.name }}"]["16_7_0"] {{ '}}' }}'
    unit_of_measurement: "W"

{% endfor %}
{% for m in meters %}
  - platform: mqtt
    name: "{{ m.name }} Power L1"
    state_topic: "tele/{{ m.name }}/SENSOR"
    value_template: '{{ '{{' }} value_json["{{ m.name }}"]["36_7_0"] {{ '}}' }}'
    unit_of_measurement: "W"

{% endfor %}
{% for m in meters %}
  - platform: mqtt
    name: "{{ m.name }} Power L2"
    state_topic: "tele/{{ m.name }}/SENSOR"
    value_template: '{{ '{{' }} value_json["{{ m.name }}"]["56_7_0"] {{ '}}' }}'
    unit_of_measurement: "W"

{% endfor %}
{% for m in meters %}
  - platform: mqtt
    name: "{{ m.name }} Power L3"
    state_topic: "tele/{{ m.name }}/SENSOR"
    value_template: '{{ '{{' }} value_json["{{ m.name }}"]["76_7_0"] {{ '}}' }}'
    unit_of_measurement: "W"

{% endfor %}
{% for m in meters %}
  - platform: mqtt
    name: "{{ m.name }} Voltage L1"
    state_topic: "tele/{{ m.name }}/SENSOR"
    value_template: '{{ '{{' }} value_json["{{ m.name }}"]["32_7_0"] {{ '}}' }}'
    unit_of_measurement: "V"

{% endfor %}
{% for m in meters %}
  - platform: mqtt
    name: "{{ m.name }} Voltage L2"
    state_topic: "tele/{{ m.name }}/SENSOR"
    value_template: '{{ '{{' }} value_json["{{ m.name }}"]["52_7_0"] {{ '}}' }}'
    unit_of_measurement: "V"

{% endfor %}
{% for m in meters %}
  - platform: mqtt
    name: "{{ m.name }} Voltage L3"
    state_topic: "tele/{{ m.name }}/SENSOR"
    value_template: '{{ '{{' }} value_json["{{ m.name }}"]["72_7_0"] {{ '}}' }}'
    unit_of_measurement: "V"

{% endfor %}

  - platform: template
    sensors:
      power_heating_total:
        value_template: "{{ '{{' }} states('sensor.meterr_power_total')|int - states('sensor.meterl_power_total')|int {{ '}}' }}"

  - platform: template
    sensors:
      energy_heating_total:
        value_template: "{{ '{{' }} states('sensor.meterr_energy_total') | int - states('sensor.meterl_energy_total') | int {{ '}}' }}"

  - platform: template
    sensors:
      energy_heating_total_solar:
        value_template: "{{ '{{' }} states('sensor.meter1_energy_export') | int - states('sensor.meterr_energy_export') | int {{ '}}' }}"

  - platform: ics
    name: Bio
    url: file:///root/.homeassistant/allestrassendietmannsried2021.ics
    id: 1
    contains: "Biotonne"
    icon: "mdi:bio"

  - platform: ics
    name: Paper
    url: file:///root/.homeassistant/allestrassendietmannsried2021.ics
    id: 2
    contains: "Papiertonne"
    icon: "mdi:recycle"

  - platform: ics
    name: Trash
    url: file:///root/.homeassistant/allestrassendietmannsried2021.ics
    id: 3
    contains: "Restm"
    icon: "mdi:trash-can"